@import url("./__name/popup__name.css");
@import url("./__form/popup__form.css");
@import url("./__button/popup__button.css");
@import url("./__input/popup__input.css");
@import url("./__container/popup__container.css");
@import url("./__close-icon/popup__close-icon.css");
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgb(0, 0, 0, 0.5);
  z-index: 1;
}