@import url("./__line/header__line.css");
@import url("./__logo/header__logo.css");
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 56px;
  padding-top: 28px;
}

@media screen and (min-width: 1028px) {
  .header {
    padding-top: 45px;
    max-height: 74px;
    padding-left: calc((100% - 880px) / 2);
    padding-right: calc((100% - 880px) / 2);
  }
}