.popup-add__name {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
  padding: 0 0 10px;
  font-style: normal;
  font-weight: normal;
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
}

.popup-add__name:first-of-type {
  margin-top: 0;
}

.popup-add__name::placeholder {
  color: rgb(0, 0, 0, 0.2);
}