.profile__add {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1028px) {
  .profile__add {
    display: flex;
    justify-content: flex-end;
    max-width: 150px;
  }
}