.profile__foto {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}

.profile__foto:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media screen and (min-width: 1028px) {
  .profile__foto {
    margin-right: 30px;
  }
}