.popup__close-icon {
  position: absolute;
  right: -32px;
  top: -32px;
}

.popup__close-icon:hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  cursor: url("../images/Layer.png"), pointer;
}

@media screen and (max-width: 321px) {
  .popup__close-icon {
    width: 26px;
    height: 26px;
    right: 0;
  }
}