.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22.25px;
}

@media screen and (min-width: 1028px) {
  .profile__info {
    margin-top: 0;
    align-items: flex-start;
  }
}