.profile__info-subtitle {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 282px;
  text-align: center;
}

@media screen and (min-width: 1028px) {
  .profile__info-subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 336px;
    text-align: unset;
  }
}