.profile__info-subtitle {
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (min-width: 1028px) {
  .profile__info-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}