.profile__info-title {
  font-family: Inter, Arial, serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1028px) {
  .profile__info-title {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 16px;
  }
}